<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QLearner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <QLearner.Properties.Settings>
            <setting name="QStatePlugin" serializeAs="String">
                <value>Maze</value>
            </setting>
            <setting name="LearningRate" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="DiscountFactor" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="LearningTrials" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ExploreRate" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="QAlgoPlugin" serializeAs="String">
                <value>Approximate_QLearning</value>
            </setting>
            <setting name="Plugins" serializeAs="String">
                <value />
            </setting>
        </QLearner.Properties.Settings>
    </userSettings>
</configuration>
